# 
COPY_FILES=Y

# The directory or location the files need to be so they can be uploaded into the database
DATABASE_UPLOAD_LOCATION=D:\\geonames_datafile\\geo_data

# The location type Windows / Mac / AWS / Azure
LOCATION_TYPE=Windows
